/* ********************
    Global start
   ******************** */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  --primarycolor: #698f3f;
  --secondarycolor: #fca311;
  --maindark: #3a3e3b;
  --mainwhite: #fff;
  --maingray: #e5e5e5;
  --maintransition: all 0.3s ease-in-out;
  --letterspacing: 0.48rem;
}

body {
  font-family: "Grand Hotel", cursive;
  font-family: "Times New Roman", Times, serif;
}
/* ********************
    Global end
   ******************** */

/* ********************
    Utiles start
   ******************** */
a,
a:link {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

span {
  display: inline-block;
}

img {
  width: 100%;
}

ul {
  list-style-type: none;
}

.btn {
  color: var(--maindark);
  font-size: 1.6rem;
  background-color: var(--primarycolor);
  outline: 0.4rem solid var(--primarycolor);
  outline-offset: 0.4rem;
  text-transform: uppercase;
  transition: var(--maintransition);
}

.section-label {
  font-family: "Grand Hotel", cursive;
  font-size: 3.2rem;
  letter-spacing: var(--letterspacing);
  color: var(--primarycolor);
  text-transform: capitalize;
}

.section-title {
  font-size: 3.2rem;
  text-transform: uppercase;
}

.section-text {
  font-size: 1.6rem;
  margin: 1.6rem 0;
}
/* ********************
    Utiles end
   ******************** */

/* ********************
    Header section start
   ******************** */
.section-header {
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("images/home.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.section-header-des {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  letter-spacing: var(--letterspacing);
}

.section-header-des--subtitle {
  color: var(--primarycolor);
  font-size: 3.2rem;
  font-family: "Grand Hotel", cursive;
  animation: slidefromright 5s ease-in-out 1;
}

.section-header-des--title {
  color: var(--mainwhite);
  font-size: 5.6rem;
  text-transform: uppercase;
  line-height: 7.28rem;
  margin: 4rem 0 3.2rem 0;
  animation: slidefromleft 5s ease-in-out 1;
}

.section-header-btn {
  padding: 2rem 2.4rem;
  animation: show 5s ease-in-out 1;
}

.section-header-btn:hover {
  color: var(--maingray);
  opacity: 0.7;
}
/* ********************
    Header section end
   ******************** */

/* ********************
    divider section start
   ******************** */
.section-divider {
  height: 0.8rem;
  background-image: linear-gradient(
    to left,
    var(--primarycolor),
    var(--secondarycolor),
    var(--primarycolor)
  );
}
/* ********************
    divider section end
   ******************** */

/* ********************
    features section start
   ******************** */
.features {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: var(--maingray);
}

.feature {
  text-align: center;
  padding: 4rem;
  transition: var(--maintransition);
}

.feature-icon {
  font-size: 4rem;
  transition: var(--maintransition);
}

.feature-title {
  margin: 2.4rem 0;
  color: var(--primarycolor);
  text-transform: uppercase;
  letter-spacing: var(--letterspacing);
  font-size: 2rem;
  font-weight: bold;
  transition: var(--maintransition);
}

.feature-text {
  font-size: 1.6rem;
  transition: var(--maintransition);
}

.feature:hover {
  background-color: var(--primarycolor);
}

.feature:hover .feature-title,
.feature:hover .feature-text {
  color: var(--mainwhite);
}

.feature:hover .feature-icon {
  transform: translateY(-0.5rem);
}

@media only screen and (max-width: 576px) {
  .features {
    grid-template-columns: 1fr;
  }
}

@media only screen and (min-width: 577px) and (max-width: 1280px) {
  .features {
    grid-template-columns: 1fr 1fr;
  }
}

/* ********************
    features section end
   ******************** */

/* ********************
    about section start
   ******************** */
.section-about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding: 6rem;
  max-width: 117rem;
  margin: 0 auto;
}

.section-about-img {
  background-color: var(--primarycolor);
  border: 0.8rem solid var(--primarycolor);
  border-radius: 1.6rem;
  overflow: hidden;
  transition: var(--maintransition);
}

.section-about-img img {
  /* background-color: var(--primarycolor);
  border: 0.8rem solid var(--primarycolor); */
  border-radius: 1.6rem;
  transition: var(--maintransition);
}

.section-about-img:hover img {
  opacity: 0.5;
  transform: scale(2);
}

.section-about-btn {
  padding: 1.2rem 2rem;
  margin-top: 3.2rem;
}

@media only screen and (max-width: 870px) {
  .section-about {
    flex-direction: column;
  }
  .section-about-des {
    align-self: flex-start;
  }
}

/* ********************
    about section end
   ******************** */

/* ********************
    products section start
   ******************** */
.section-product {
  background-color: var(--maindark);
  padding: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.section-product-des .section-title,
.section-product-des .section-text {
  color: var(--mainwhite);
}

.section-product-btn {
  margin-top: 3.2rem;
  padding: 1.2rem 2rem;
  transition: var(--maintransition);
}

.section-product-btn:hover {
  opacity: 0.7;
  color: var(--maingray);
}

.products {
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
}

.product {
  text-align: center;
}

.product-img img {
  width: 30rem;
  height: 25rem;
  border-radius: 1.6rem;
}

.product-title {
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: var(--letterspacing);
  color: var(--mainwhite);
  margin: 2.4rem 0 1.6rem 0;
}

.product-price {
  font-size: 1.6rem;
  color: var(--primarycolor);
  letter-spacing: var(--letterspacing);
}

@media only screen and (max-width: 576px) {
  .section-product {
    flex-direction: column;
  }
  .products {
    flex-direction: column;
  }
}

@media only screen and (min-width: 577px) and (max-width: 1250px) {
  .section-product {
    flex-direction: column;
  }
  .products {
    flex-wrap: wrap;
  }
}
/* ********************
    products section end
   ******************** */

/* ********************
    contact section start
   ******************** */

/* ********************
    contact section end
   ******************** */

/* ********************
    footer section start
   ******************** */

/* ********************
    footer section end
   ******************** */

/* ********************
    animation start
   ******************** */
@keyframes show {
  0% {
    transform: scale(2);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes slidefromright {
  0% {
    transform: translateX(100rem);
  }
  50% {
    transform: translateX(-20rem);
  }
  75% {
    transform: translateX(5rem);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slidefromleft {
  0% {
    transform: translateX(-100rem);
  }
  50% {
    transform: translateX(20rem);
  }
  75% {
    transform: translateX(-5rem);
  }
  100% {
    transform: translateX(0);
  }
}
/* ********************
    animation end
   ******************** */
